* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #FAFAFA;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 234;
    height: 49;
}